<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-redEyeProgrammer" version="7.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>redEyePlugin</name><js-module name="redEyePlugin" src="www/redEyePlugin.js"><clobbers target="cordova.plugins.redEyePlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="redEyePlugin"><param name="ios-package" value="redEyePlugin" /></feature></config-file><source-file src="src/ios/redEyePlugin.swift" /></platform></plugin>
